//names from http://chir.ag/projects/name-that-color/

$_COLOR_BLACK:                  #050505;
$_COLOR_WHITE:                  #FFFFFF;
$_COLOR_ATHENS_GRAY:            #FAFBFC;
$_COLOR_IRON:                   #DADDE0;
$_COLOR_ALUMINIUM:              #A9AFBA;
$_COLOR_MID_GRAY:               #5F6063;
$_COLOR_NEON_CARROT:            #FF9933;
$_COLOR_MANATEE:                #8A8A96;
$_COLOR_EMPEROR:                #505050;
$_COLOR_MANGO_TANGO:            #EE7600;
