@import './../../styles/variables';

.nav-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .nav-btn {
    padding: 3px 15px;
    border: 1px solid $_COLOR_ALUMINIUM;
    background-color: #fafbfc;
  }

  i {
    display: flex;
    flex-direction: row-reverse;

  }
}
