@import '/../../styles/index';

.table {
  color: $_COLOR_EMPEROR;
  font-size: 13px;
  @include table-border;

  .header {
    height: 10%;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: $_COLOR_MANATEE;
    background-color: $_COLOR_ATHENS_GRAY !important;
    @include row-direction;
  }

  .header:not(:first-child) {
    justify-content: center;
  }

  .row {
    width: fit-content;
  }
}


